<!DOCTYPE html>
<html>
<head>
    <title>IG Publish Orders</title>
</head>
<body>
<h1>Publish orders by uploading file</h1>

<form action="/doUpload" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>
                <label>Select file</label>
            </td>
            <td>
                <input type="file" name="file"></input>
            </td>
        </tr>
        <tr>
            <td>
                <label>Server URL</label>
            </td>
            <td>
                <input type="text" name="serverURL" value="tcp://localhost:61616"></input>
            </td>
        </tr>
        <tr>
            <td>
                <label>Username</label>
            </td>
            <td>
                <input type="text" name="userName" value="admin"></input>
            </td>
        </tr>
        <tr>
            <td>
                <label>Pasword</label>
            </td>
            <td>
                <input type="password" name="password" value="admin"></input>
            </td>
        </tr>
        <tr>
            <td>
                <label>Name</label>
            </td>
            <td>
                <input type="text" name="destName" value="interview-1"></input>
            </td>
        </tr>
        <tr>
            <td>
                <label>Type</label>
            </td>
            <td>
                Queue<input type="radio" name="type" value="Queue" checked="checked"></input>
                Topic<input type="radio" name="type" value="Topic"></input>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Upload</button>
            </td>
        </tr>
    </table>


    <a href="/">Home</a>

    <table>
        <tr>
            <td>
                <div id="successDiv"><br>
                    File Uploaded Successfully...
                    </br></div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="failDiv"><br>
                    Uploading file Failed...
                    </br></div>
            </td>
        </tr>
    </table>
    <script>

    var success = document.URL.indexOf("success=true");
    var divSuccess = document.getElementById("successDiv");
    if(success == -1) {
        divSuccess.style.display = "none";
    } else {
        divSuccess.style.display = "block";
    }


    var fail = document.URL.indexOf("success=false");
    var divFail = document.getElementById("failDiv");
    if(fail == -1) {
        divFail.style.display = "none";
    } else {
        document.getElementById("failDiv").innerHTML = "Uploading file Failed..." + document.URL.substring(parseInt(document.URL.indexOf("error=")), document.URL.length);
        divFail.style.display = "block";
    }

    </script>
</form>
</body>
</html>